<div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="../static/img/logo-small.png">
          </div>
          <!-- <p>CT</p> -->
        </a>
        <a href="https://www.creative-tim.com" class="simple-text logo-normal">
          Nethra
          <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="gallery">
              <i class="nc-icon nc-album-2"></i>
              <p>Gallery</p>
            </a>
          </li>
          <li>
            <a href="videos">
              <i class="nc-icon nc-headphones"></i>
              <p>Videos</p>
            </a>
          </li>
          <li>
            <a href="editprofile">
              <i class="nc-icon nc-circle-10"></i>
              <p>Editprofile</p>
            </a>
          </li>
          <li>
            <a href="download">
              <i class="nc-icon nc-button-play"></i>
              <p>Youtubedownload</p>
            </a>
          </li>
          <li>
            <a href="text_to_pdf">
              <i class="nc-icon nc-button-play"></i>
              <p>PDF Maker</p>
            </a>
          </li>
          <li>
          <a href="{{url_for('logout')}}">
            <i class="nc-icon nc-button-power"></i>
            <p>Logout</p>
          </a>
        </li>
        <li>
          <a href="bulkdownload">
            <i class="nc-icon nc-cloud-download-93"></i>
            <p>Bulkdownload</p>
          </a>
        </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      